@page "/build"
@inject IBananaService BananaService
@inject IUnitService UnitService

<h3>Build</h3>

<button class="btn btn-primary" @onclick="BuildUnit">Eat Bananas</button>

@code {
    int selectedUnitId = 1;
    public void BuildUnit()
    {
        var selectedUnit = UnitService.Units.FirstOrDefault(unit => unit.Id == selectedUnitId);
        BananaService.EatBananas(selectedUnit.BananaCost);
        UnitService.AddUnit(selectedUnitId);
    }


}
